@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Nunito',sans-serif;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    /*background-color: #191f36;*/
    color: #fff;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: #c7cdd5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 2.5rem;
    color: #ffffff ;
    font-weight: 700;
    cursor:default;

}
.navbar a{
    font-size: 1.5rem;
    color: black;
    margin-left: 4rem;
    font-weight: 700;
}


#menu-bar{
    font-size: 3.6rem;
    color: #ff253a;
    /*display: none;*/
}
.navbar a:hover{
    color: white;
    cursor: pointer;
}





